* {
  margin: 0;
}

a {
  color: $fontColor-link !important;
  text-decoration: none !important;
  &:hover {
    opacity: 0.8;
  }
}

.photo-sm {
  width: 200px;
  height: 200px;
}

.photo-md {
  width: 310px;
  height: 200px;
}

.photo-lg {
  width: 420px;
  height: 200px;
}
