* {
  margin: 0;
}

a {
  color: $fontColor-link !important;
  text-decoration: none !important;
  &:hover {
    opacity: 0.8;
  }
}

.photo-sm {
  width: 200px;
  height: 200px;
}

.photo-md {
  width: 310px;
  height: 200px;
}

.photo-lg {
  width: 420px;
  height: 200px;
}

@media (max-width: $mobile-breakpoint) {
  .photo-sm,
  .photo-md,
  .photo-lg {
    width: 100%;
  }
}

@media (max-width: $tablet-breakpoint) and (min-width: $mobile-breakpoint) {
  .photo-sm {
    width: 150px;
  }
  .photo-md {
    width: 200px;
  }
  .photo-lg {
    width: 300px;
  }
}
